<div id="currentDeckStats" class="col-xs-8">
    <div class="col-xs-12">
        <div style="float:left;"><b>Faction Passive</b>: {{factionPassive}}</div>
    </div>
    <div class="col-xs-12">
        <div style="float:left;"><b>Leader Ability</b>: {{leaderAbility}}</div>
    </div>
    <div class="col-xs-12">
        <div class="jordanGlyphicon glyphicon-cardDeck" style="float:left;"></div>
        <div style="float:left;">Total cards in Deck</br>
        {{totalCards}}</div>
    </div>
    <div class="col-xs-12">
        <div class="jordanGlyphicon glyphicon-cardHand " style="float:left;"></div>
        <div style="float:left;" ng-class="{highlightCardError: totalUnitCards < 22}">
        # of Unit Cards</br>
        {{totalUnitCards}}/22</div>
    </div>
    <div class="col-xs-12">
        <div class="jordanGlyphicon glyphicon-cardHand" style="float:left;"></div>
        <div style="float:left;" ng-class="{highlightCardError: totalSpecialCards > 10}">
        Special Cards</br>
        {{totalSpecialCards}}/10</div>
    </div>
    <div class="col-xs-12">
        <div class="jordanGlyphicon glyphicon-fist" style="float:left;"></div>
        <div style="float:left;">Total Unit Strength</br>
        {{totalUnitStrength}}</div>
    </div>
    <div class="col-xs-12">
    <div class="jordanGlyphicon glyphicon-helmet" style="float:left;"></div>
        <div style="float:left;">Hero Cards</br>
        {{totalHeroCards}}</div>
    </div>
    <div style="clear:left"></div>
</div>