<div>
    <div><div class="jordanGlyphicon btn btn-primary  glyphicon-cardHand"></div>Card Icon - Card by David Padrosa from the Noun Project</div>
    <div ><div class="jordanGlyphicon btn btn-primary  glyphicon-sword"></div>Sword Icon - https://thenounproject.com/Luis.F.D.Martins/</div>
    <div><div class="jordanGlyphicon btn btn-primary  glyphicon-bowAndArrow"></div>Bow and Arrow Icon - bow by Arthur Shlain from the Noun Project</div>
    <div><div class="jordanGlyphicon btn btn-primary  glyphicon-catapult"></div>Catapult Icon - https://thenounproject.com/dill/</div>
    <div><div class="jordanGlyphicon btn btn-primary  glyphicon-helmet"></div> Helmet Icon - Knight by Tyler Glaude from the Noun Project</div>
    <div><div class="jordanGlyphicon btn btn-primary  glyphicon-sun"></div>Sun Icon - sun by Yohann Berger from the Noun Project</div>
    <div><div class="jordanGlyphicon btn btn-primary  glyphicon-spike"></div> Cactus Icon - Cactus by vicentnovoa from the Noun Project</div>
    <div><div class="jordanGlyphicon btn btn-primary  glyphicon-cardDeck"></div>Card Deck Icon - Playing Cards by Lukasz M. Pogoda from the Noun Project</div>
    <div><div class="jordanGlyphicon btn btn-primary  glyphicon-fist"></div>Fist Icon - https://thenounproject.com/Yorlmar%20Campos</div>
    <div>Images from <a href="http://www.reddit.com/r/witcher/comments/377cz2/imgur_gwent_cards/">Reddit user jotpedau</a></div>

    <b> unused at the moment </b>
    <div>Card Deck Icon 2 - Falling Cards by Andrew Hainen from the Noun Project</div>
    <div>Poker Card Icon - poker cards by Marek Polakovic from the Noun Project</div>

    Find any issues? Get in touch on github or GwentBuilder@gmail.com.
</div>