<div id="leaderSelection" class="col-xs-10 col-xs-offset-1" style="padding-top:10px;">
    <div id="chosenFactionHeader">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-5">
                <img ng-src="{{currentLeaderCard.cardArtImageName}}" class="cardImage col-xs-10" style="float:left"></img>
            </div>
            <div class="col-xs-6">
                <h2>Faction Passive </h2> {{factionPassive}}<br/><br/>
                <h2>Leader Ability </h2> {{currentLeaderCard.ability}}
            </div>
        </div>
    </div>    
</div>