<div id="deckBuilderContainer" class="row">
    <div id="deckBuilderHeader" class="col-lg-6 col-lg-offset-3">
        <div id="chosenFactionHeader">Chosen Faction</div>
        <div id="chosenFaction"><h1>{{factionDisplayName}}</h1> </div>
        <div class="btn btn-primary" ng-click="filterAvailableCards('northernrealms')">Northern Realms</div>
        <div class="btn btn-primary" ng-click="filterAvailableCards('nilfgardian')">Nilfgardian</div>
        <div class="btn btn-primary" ng-click="filterAvailableCards('monster')">Monster</div>
        <div class="btn btn-primary" ng-click="filterAvailableCards('scoiatael')">Scoia'tael</div>
        <div id="chosenFactionPerk">Passive Perk: {{factionPassive}}.</div>
        <input type="text" class="form-control" placeholder="Deck Name" ng-model="deckName"></input><div class="btn btn-primary" ng-click="saveDeck()">Save Deck</div>
        <div  ng-show="savedURL !== ''">
            {{saveResultMessage}}<br/>
            <a href="{{savedURL}}">Deck URL : {{savedURL}}</a>
        </div>
    </div>
    <div style="clear:left;"></div>
    <div id="currentDeckStats" class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <div class="jordanGlyphicon glyphicon-cardDeck" style="float:left;"></div>
            <div style="float:left;">Total cards in Deck</br>
            {{totalCards}}</div>
        </div>
        <div class="col-lg-2">
            <div class="jordanGlyphicon glyphicon-cardHand" style="float:left;"></div>
            <div style="float:left;" ng-class="{highlightCardError: totalUnitCards < 22}">
            Number of Unit Cards</br>
            {{totalUnitCards}}/22</div>
        </div>
        <div class="col-lg-2">
            <div class="jordanGlyphicon glyphicon-cardHand" style="float:left;"></div>
            <div style="float:left;" ng-class="{highlightCardError: totalSpecialCards > 10}">
            Special Cards</br>
            {{totalSpecialCards}}/10</div>
        </div>
        <div class="col-lg-2">
            <div class="jordanGlyphicon glyphicon-fist" style="float:left;"></div>
            <div style="float:left;">Total Unit Strength</br>
            {{totalUnitStrength}}</div>
        </div>
        <div class="col-lg-2">
        <div class="jordanGlyphicon glyphicon-helmet" style="float:left;"></div>
            <div style="float:left;">Hero Cards</br>
            {{totalHeroCards}}</div>
        </div>
    </div>
    <div style="clear:left;"></div>
    <div id="allCardsContainer" class="col-sm-6">
        <div class="row" id="cardCollection"><h1>Card Collection</h1></div>
        <div class="row" id="cardCollectionCurrentFilter">
            <h2>{{availableCardsFilterDisplayName}}</h2>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-offset-2"><div class="jordanGlyphicon btn btn-primary glyphicon-cardHand"  ng-click="switchAvailableCardsFilter('predefined','all')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-sword" ng-click="switchAvailableCardsFilter('predefined','melee')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-bowAndArrow" ng-click="switchAvailableCardsFilter('predefined','ranged')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-catapult" ng-click="switchAvailableCardsFilter('predefined','siege')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-helmet" ng-click="switchAvailableCardsFilter('predefined','hero')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-sun" ng-click="switchAvailableCardsFilter('predefined','weather')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-spike" ng-click="switchAvailableCardsFilter('predefined','special')"></div></div>
        </div>
        <div class="row">
            <div class="col-sm-12 cardContainer">
                <div ng-repeat="card in availableCardsFilter" class="col-lg-4">
                    <img ng-src="/images/{{card.cardArtImageName}}" class="cardImage col-lg-12" style="float:left" ng-click="putCardInDeck(card,1)"></img>
                </div>
            </div>
        </div>
    </div>
    <div id="currentDeckContainer" class="col-sm-6">
        <div class="row" id="cardCollection"><h1>Cards in Deck</h1></div>
        <div class="row" id="cardCollectionCurrentFilter">
            <h2>{{currentDeckFilterDisplayName}}</h2>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-offset-2"><div class="jordanGlyphicon btn btn-primary  glyphicon-cardHand" ng-click="switchCurrentCardsFilter('predefined','all')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-sword" ng-click="switchCurrentCardsFilter('predefined','melee')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-bowAndArrow" ng-click="switchCurrentCardsFilter('predefined','ranged')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-catapult" ng-click="switchCurrentCardsFilter('predefined','siege')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-helmet" ng-click="switchCurrentCardsFilter('predefined','hero')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-sun" ng-click="switchCurrentCardsFilter('predefined','weather')"></div></div>
            <div class="col-sm-1"><div class="jordanGlyphicon btn btn-primary  glyphicon-spike" ng-click="switchCurrentCardsFilter('predefined','special')"></div></div>
        </div>
        <div class="row">
            <div class="col-sm-12 cardContainer">
                <div ng-repeat="card in currentDeckFilter" class="col-lg-4">
                    <img ng-src="/images/{{card.card.cardArtImageName}}" class="cardImage col-lg-12" style="float:left" ng-click="removeCardFromDeck(card.card)"></img>
                    <div class="cardCount">
                        <div class="jordanGlyphicon glyphicon-cardHand" style="float:left;"></div> x {{card.count}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>