<div id="leaderSelection" class="col-xs-10 col-xs-offset-1">
    <div id="chosenFactionHeader">
         <div><span class="glyphicon glyphicon-warning-sign" style="padding-top:3px;"></span>&nbsp;Changing faction clears your current hand.</div>
        <div id="factionButtons" class="row">
            <div class="btn btn-primary factionButton" ng-click="changeFaction('northernrealms')" ng-class="{highlightSelectedFactionButton: selectedFaction === 'northernrealms'}">
                <img src="/images/northernrealms.png"></img>
            </div>
            <div class="btn btn-primary factionButton" ng-click="changeFaction('nilfgaardian')" ng-class="{highlightSelectedFactionButton: selectedFaction === 'nilfgaardian'}">
                <img src="/images/nilfgaard.png"></img>
            </div>
            <div class="btn btn-primary factionButton" ng-click="changeFaction('monster')" ng-class="{highlightSelectedFactionButton: selectedFaction === 'monster'}">
                <img src="/images/monster.png"></img>
            </div>
            <div class="btn btn-primary factionButton" ng-click="changeFaction('scoiatael')"  ng-class="{highlightSelectedFactionButton: selectedFaction === 'scoiatael'}">
                <img src="/images/scoiatael.png"></img>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-3" ng-show="!showAllLeaderCards" ng-click="openAllCardsDialog()">
                <img ng-src="{{currentLeaderCard.cardArtImageName}}" class="cardImage col-xs-10" style="float:left"></img>
                <div style="float:left;" class="col-xs-8 col-xs-offset-1">Change Leader <span class="glyphicon glyphicon-arrow-up"></span></div>
            </div>
            <div class="col-xs-4">
                <h2>Faction Passive </h2> {{factionPassive}}<br/><br/>
                <h2>Leader Ability </h2> {{currentLeaderCard.ability}}
            </div>
        </div>
        <script type="text/ng-template" id="allCardsDialog">
            <div>
                <div class="modal-header">
                    <h3>Choose a Leader Card</h3>
                </div>
                <div class="modal-body">
                    <div class="container col-xs-12">
                        <div class="row">
                           <div ng-repeat="leaderCard in leaderCardsFilter" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 leaderCard"  ng-click="changeLeaderCard(leaderCard)">
                                <img ng-src="{{leaderCard.cardArtImageName}}" class="cardImage col-xs-12 " style="float:left" ng-class="{highlightSelectedLeaderCard: currentLeaderCard === leaderCard}"></img>
                                <div id=""><b>Ability</b>: {{leaderCard.ability}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:left"></div>
            </div>
        </script>
    </div>    
</div>