<div id="leaderSelection" class="col-xs-8 col-xs-offset-2">
    <div id="chosenFactionHeader">
<!--         <h2>Chosen Faction</h2></div>
        <div id="chosenFaction" class="col-xs-12">
            <div style="float:left;" class="col-xs-1  col-xs-offset-3">
                <img ng-src="{{factionImage}}"></img>
            </div>
            <div style="float:left;" class="col-xs-4">
                <h1>{{factionDisplayName}}</h1> 
            </div>
        </div> -->
        <div id="factionButtons" class="col-xs-12">
            <div class="btn btn-primary factionButton" ng-click="changeFaction('northernrealms')" ng-class="{highlightSelectedFactionButton: selectedFaction === 'northernrealms'}">
                <img src="/images/northernrealms.png"></img>
            </div>
            <div class="btn btn-primary factionButton" ng-click="changeFaction('nilfgaardian')" ng-class="{highlightSelectedFactionButton: selectedFaction === 'nilfgaardian'}">
                <img src="/images/nilfgaard.png"></img>
            </div>
            <div class="btn btn-primary factionButton" ng-click="changeFaction('monster')" ng-class="{highlightSelectedFactionButton: selectedFaction === 'monster'}">
                <img src="/images/monster.png"></img>
            </div>
            <div class="btn btn-primary factionButton" ng-click="changeFaction('scoiatael')"  ng-class="{highlightSelectedFactionButton: selectedFaction === 'scoiatael'}">
                <img src="/images/scoiatael.png"></img>
            </div>
            <div id="chosenFactionPerk">PASSIVE PERK: {{factionPassive}}</div>
        </div>
        <div id="leaderCards" class="col-xs-12">
        <div ng-repeat="leaderCard in leaderCardsFilter" class="col-xs-3 leaderCard"  ng-click="changeLeaderCard(leaderCard)">
            <img ng-src="{{leaderCard.cardArtImageName}}" class="cardImage col-xs-12" style="float:left" ng-class="{highlightSelectedLeaderCard: currentLeaderCard === leaderCard}"></img>
            <div id=""><b>Ability</b>: {{leaderCard.ability}}</div>
        </div>
    </div>
</div>