    /* Overrides */
h1{
    font-size:26px;
    padding:0px;
    margin:0px;
}

h2{
    font-size:20px;
    padding:0px;
    margin:0px;
}

.card11{
    float:left;
}

.cards{
    width:1000px;
}

.cardModify{
    border: 1px solid black;
    width:400px;
}

.cardView{
    border:1px solid black;
    float:left;
}

.cardProperties{
    float:left;
}

.cardImage{
}



/* deck */

.allCardsContainer{

}

.cardContainer{

}

.cardContainer img{
    padding-top:10px;
}

#deckBuilderHeader{
    text-align:center;
}

#chosenFaction{
    font-size:22px;
}

#cardCollection{
    text-align:center;
}

#cardCollectionCurrentFilter{
    text-align: center;
}

.cardCount{
    margin-left:10px;
}

/* Custom Glyphs*/
.jordanGlyphicon{
    width:24px;
    height:24px;
    padding:12px;
    background-repeat:no-repeat;
}

.jordanGlyphicon.btn{
    background-color:#ccc;
    border-color:#ccc;
}

.jordanGlyphicon.btn:hover{
    background-color:#aaa;
    border-color:#aaa;
}

.glyphicon-sword{
    background-image:url('/images/glyphs/swordsmall.png');
}

.glyphicon-cardHand{
    background-image:url('/images/glyphs/cardHand.png');
}

.glyphicon-bowAndArrow{
    background-image:url('/images/glyphs/bowAndArrow.png');
}

.glyphicon-catapult{
    background-image:url('/images/glyphs/catapult.png');
}

.glyphicon-helmet{
    background-image:url('/images/glyphs/helmet.png');
}

.glyphicon-sun{
    background-image:url('/images/glyphs/sun.png');
}

.glyphicon-spike{
    background-image:url('/images/glyphs/spike.png');
}

.glyphicon-cardDeck{
    background-image:url('/images/glyphs/cardDeck.png');
}

.glyphicon-fist{
    background-image:url('/images/glyphs/fist.png');
}