/* Overrides */
h1,h2,h3,h4,h5,h6{
    color: #AFA795;
}

h1{
    font-size:26px;
    padding:0px;
    margin:0px;
}

h2{
    font-size:16px;
    padding:0px;
    margin:0px;
}

body{
    background-color: #101617;
    color:#AFA795;
}

/* BOOTSTRAP OVERRIDE*/
@media(max-width:767px){
    h1{
        font-size:16px;
    }

    h2{
        font-size:14px;
        padding:0px;
        margin:0px;
    }
    body{
        font-size:11px;
    }
}
@media(min-width:768px){
    h1{
        font-size:16px;
    }

    h2{
        font-size:14px;
        padding:0px;
        margin:0px;
    }
    body{
        font-size:11px;
    }
}
@media(min-width:992px){
    h1{
        font-size:20px;
    }

    h2{
        font-size:14px;
        padding:0px;
        margin:0px;
    }
    body{
        font-size:12px;
    }
}
@media(min-width:1200px){
    h1{
        font-size:26px;
    }

    h2{
        font-size:20px;
        padding:0px;
        margin:0px;
    }
    body{
        font-size:12px;
    }
}
.ng-pristine{
    color:#ccc;
}
.btn-primary{
    color:#0C1A1D;
    background-color:#ccc; 
    border-color:#424C4F;
}

.btn-primary:hover{
    color:#0C1A1D;
    background-color:#aaa; 
    border-color:#424C4F;
}

/* Header */ 
#header{
    width:100%;
    background-color: #424C4F;
    padding-top:30px;
    margin-bottom: 10px;
}
#header .row{
    border-bottom:3px solid #6D6878;
}
#title h1{
    font-size:26px;
}
#description{
    font-size:16px;
}
.card11{
    float:left;
}

.cards{
    width:1000px;
}

.cardModify{
    border: 1px solid black;
    width:400px;
}

.cardView{
    border:1px solid black;
    float:left;
}

.cardProperties > div{
    word-wrap: break-word;
}

.cardProperties{
    float:left;
}

/* deck */

.allCardsContainer{

}

.cardContainer{
    background-color:#ccc; 
    border-top:2px solid #424C4F;
    border-left:2px solid #424C4F;
    border-bottom:2px solid #AFA795;
    border-right:2px solid #AFA795;

    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}

#currentDeck{
    min-height: 600px;
}

.cardImage img{
    padding-top:5px;
    padding-bottom: 5px
}

.cardImage:hover{
    background-color: #aaa;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}

#deckBuilderHeader{
    text-align:center;
    padding-top:14px;
}

#chosenFaction{
    font-size:22px;
    padding-bottom:10px;
}

#chosenFaction h1{
    padding-top:5px;
}

#currentDeckStats{
    margin-top:10px;
    color:#0C1A1D;
}

#cardCollection{
    padding:10px;
}

#cardCollection h1{
    color:#7F7969;
}

#cardCollectionCurrentFilter{
    padding-bottom:10px;  
}

.cardCount{
    margin-left:10px;
    color:#0C1A1D;
}

.highlightCardError{
    color:red;
}

#deckURL{
    font-size:20px;
}

/* Leader Cards */
#leaderCards{
    padding:14px;
}

.highlightSelectedLeaderCard{
    background-color: #aaa;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}

.highlightSelectedFactionButton{
    background-color:#aaa;
}

.highlightedFilterButton{
    background-color:#aaa !important; 
    border-color:#aaa !important; 
}

.leaderCard img{
    padding-top:14px;
    padding-bottom:14px;
}

#footer{
    width:100%;
    padding-top:30px;
}
#footer .row{
    padding-top: 10px;
    border-top:3px solid #6D6878;
}

/* Custom Glyphs*/
.jordanGlyphicon{
    width:24px;
    height:24px;
    padding:12px;
    background-repeat:no-repeat;
}

.jordanGlyphiconBackground{
    background-color:#ccc;
    border-color:#ccc;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    padding:12px;
}

.jordanGlyphicon.btn{
    background-color:#ccc;
    border-color:#ccc;
}

.jordanGlyphicon.btn:hover{
    background-color:#aaa;
    border-color:#aaa;
}

.glyphicon-sword{
    background-image:url('/images/glyphs/swordsmall.png');
}

.glyphicon-cardHand{
    background-image:url('/images/glyphs/cardHand.png');
}

.glyphicon-bowAndArrow{
    background-image:url('/images/glyphs/bowAndArrow.png');
}

.glyphicon-catapult{
    background-image:url('/images/glyphs/catapult.png');
}

.glyphicon-helmet{
    background-image:url('/images/glyphs/helmet.png');
}

.glyphicon-sun{
    background-image:url('/images/glyphs/sun.png');
}

.glyphicon-spike{
    background-image:url('/images/glyphs/spike.png');
}

.glyphicon-cardDeck{
    background-image:url('/images/glyphs/cardDeck.png');
}

.glyphicon-fist{
    background-image:url('/images/glyphs/fist.png');
}